fastapi==0.141.1
uvicorn==0.52.1
python-multipart==0.0.32

PyMuPDF==1.28.2

spacy==3.8.14
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl

SQLAlchemy==2.0.51
requests==2.34.2